<div id="map"></div>
<div id="sidebar" class="leaflet-sidebar">
  <!-- Nav tabs -->
  <div class="leaflet-sidebar-tabs">
    <ul role="tablist">
      <li>
        <a (click)="toggleSidebar()"><i class="fa fa-bars"></i></a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="leaflet-sidebar-content p-2">
    <div class="mb-3">
      <label for="formFile" class="form-label">Select File</label>
      <input class="form-control" type="file" id="formFile" />
    </div>
    <span class="cursor-pointer">
      <i class="text-primary fa fa-plus-circle" (click)="addPath()"></i>
    </span>
    <form [formGroup]="droneForm">
      <div formArrayName="paths">
        <div class="m-1" *ngFor="let path of paths.controls; let i = index">
          <div class="d-flex justify-content-between" [formGroupName]="i">
            <input
              class="form-control form-control-sm"
              placeholder="Latitude"
              type="text"
              formControlName="latitude"
            />
            <input
              class="form-control form-control-sm"
              placeholder="Longitude"
              type="text"
              formControlName="longitude"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<button class="btn btn-primary">Hide</button>
<button class="btn btn-primary" (click)="Show()">Show</button>
