<div id="map"></div>
<div id="sidebar" class="leaflet-sidebar">
  <!-- Nav tabs -->
  <div class="leaflet-sidebar-tabs">
    <ul role="tablist">
      <li>
        <a (click)="toggleSidebar()"><i class="fa fa-bars"></i></a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="leaflet-sidebar-content p-2">
    <app-coordinate-form
      (coordinates)="getCoordinates($event)"
      (droneStatus)="pauseOrResumeDrone($event)"
    ></app-coordinate-form>
  </div>
</div>
<button class="btn btn-primary">Hide</button>
<button class="btn btn-primary" (click)="Show()">Show</button>
